/* CSS Document for the Screen */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
:root {
  font-size: 16px;
  --color-1: #fdfdfd;
  --color-2: #eeeeee;
  --color-3: #dde4f0;
  --color-4: #394867;
  --color-5: #14274e;
}
body {
  font-family: "Oswald", sans-serif;
  background-color: var(--color-3);
  color: var(--color-5);
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

#page {
  text-align: center;
  background-color: var(--color-1);
  width: 90%;
  margin: 80px auto;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 15px -1px #000;
  box-shadow: 2px 2px 15px -1px #000;
}
/* Text */
h1 {
  margin: 0 0 1rem 0;
  font-size: 2.8rem;
  font-weight: 500;
}
h2 {
  margin: 0 0 0.8rem 0;
  font-size: 1.6rem;
  font-weight: 400;
}
h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.4rem;
  font-weight: 300;
}
p {
  margin: 0 0 1rem 0;
  font-size: 100;
}

/* -------- */
/* Navbar */
.navbar {
  position: fixed;
  background-color: var(--color-4);
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-1);
  padding-left: 2rem;
  font-weight: 400;
}
.link a {
  display: inline-block;
  color: var(--color-1);
  padding: 0.8rem;
  font-size: 1.2rem;
}
.link a:hover {
  background-color: var(--color-1);
  color: var(--color-5);
}

/* header */
.header-img {
  margin-top: 3.5rem;
}
.header-img img {
  width: 60vw;
  height: auto;
}
.content {
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}
.menu-icon {
  display: none;
}
@media only screen and (max-width: 700px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #3f495e;
  }
  .link a {
    display: none;
  }
  .logo {
    display: none !important;
  }

  .menu-icon {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .menu-icon a {
    /* background-color: var(--color-3); */
    display: flex;
    justify-content: space-evenly;
    width: 8vw;
    padding: 0.6rem;
  }
}
/* --------- */
/* About */
#about {
  background-image: url(image/wave.svg);
  background-size: cover;
  padding: 12rem 0;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 80%;
  padding: 2rem;
  border-radius: 5px;
}
@media only screen and (max-width: 700px) {
  #about {
    padding: 1rem 0;
  }
}
/* -------- */
/* Skill */
#skills {
  padding: 12rem 0;
  background-color: var(--color-1);
}
#skills h1 {
  padding-bottom: 4rem;
}
#skills h2 {
  color: var(--color-4);
  font-weight: 3rem;
  border-bottom: 1px solid var(--color-5);
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.section {
  background-color: var(--color-2);
  width: 30%;
  margin: 2rem 1rem;
  padding: 2rem 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.3s;
}
.section img {
  width: 80%;
}
.section ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  line-height: 1.9em;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 30px;
}
.section li {
  width: 40%;
}
.section span {
  width: 50%;
}
.section:hover {
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 700px) {
  #skills {
    padding: 1rem 0;
  }
  .section {
    width: 100%;
    margin: 1rem;
  }
}

/* --------- */
/* Price */
#price {
  padding: 12rem 0;
}
.price-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 30%;
  margin: 1rem 1.2rem;
  border-radius: 5px;
  background-color: var(--color-2);
  box-sizing: border-box;
  overflow: auto;
  transition: 0.3s;
}
.card ul {
  line-height: 2rem;
  font-size: 1.2rem;
}
.card li {
  border-bottom: 1px solid var(--color-5);
  padding: 6px 0;
}
.card h1 {
  background-color: var(--color-4);
  color: var(--color-1);
}
.num {
  background-color: var(--color-4);
  color: var(--color-1);
  font-size: 1.5rem;
}
.card button {
  background-color: var(--color-4);
  color: var(--color-1);
  padding: 6px;
  margin: 1rem auto;
  font-size: 1rem;
}
.card:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.card button:hover {
  -webkit-box-shadow: 0px 1px 6px 0px var(--color-5);
  box-shadow: 0px 1px 6px 0px var(--color-5);
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  #price {
    padding: 1rem 0;
  }
  .card {
    width: 100%;
    margin: 1rem;
  }
  .card:hover {
    transform: none;
  }
}

/* ----- */
/* Contact */
#contact {
  background-image: url(image/wave2.svg);
  background-size: cover;
  padding: 12rem 0;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}
input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-bottom: 1px solid black;
  background-color: var(--color-1);
  margin: 10px auto;
  padding: 10px;
  width: 70%;
}
button[type="submit"] {
  width: 70%;
  background-color: var(--color-5);
  color: var(--color-1);
  margin: 10px auto;
  padding: 4px;
  font-size: 1.3em;
}
button[type="submit"]:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 5px 10px -1px var(--color-5);
  box-shadow: 2px 5px 10px -1px var(--color-5);
}

.info {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid black;
}
.social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.social a {
  margin: 0 4px;
}
.location,
.phone,
.social {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 700px) {
  #contact {
    padding: 3rem 0;
  }
  .contact-form,
  .info {
    width: 50%;
  }
}
