/* CSS Document for the Screen */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");

body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  background-color: #17223b;
  color: #ddd;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
#page {
  text-align: center;
  box-sizing: border-box;
}

/* Text */
h1 {
  margin: 0 0 1em 0;
  font-size: 2.8em;
  font-weight: 500;
}
h2 {
  margin: 0 0 0.8em 0;
  font-size: 1.6em;
  font-weight: 400;
}
h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.4em;
  font-weight: 300;
}
p {
  margin: 0 0 1em 0;
  font-size: 100;
}

/* -------- */
/* Navbar */
nav {
  position: fixed;
  background-color: transparent;
  top: 0;
  z-index: 1;
  width: 100%;
  float: right;
  text-align: right;
}
nav::after {
  content: "";
  clear: right;
}
nav a {
  display: inline-block;
  color: #ddd;
  padding: 14px;
  font-size: 1.1em;
}
nav a:hover {
  background-color: #17223b;
  color: #ddd;
}
/* header */
header img {
  width: 100%;
  height: auto;
  opacity: 0.85;
}
.wallpaper {
  position: relative;
}
.content {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(53, 86, 117, 0.267);
  color: #ddd;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}

/* --------- */
/* About */
#about {
  padding: 200px 0;
  line-height: 1.8em;
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
}
#about img {
  max-width: 30%;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 5px 5px 21px 1px rgba(0, 0, 0, 0.68);
}
.text {
  width: 50%;
}

/* -------- */
/* Skill */
#skills {
  padding: 100px 0;
  background-color: #6b778d;
  color: #ddd;
}
.container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.section {
  background-color: #17223b;
  width: 25%;
  margin: 0 10px;
  padding: 20px 15px;
  border: 1px groove #263859;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.5s;
}
.section img {
  width: 50%;
}
.section ul {
  line-height: 1.9em;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 30px;
}

.section:hover {
  box-shadow: 5px 5px 21px 1px rgba(0, 0, 0, 0.68);
}

/* --------- */
/* Price */
#price {
  padding: 100px 0;
  color: #ddd;
}
.price-container {
  display: flex;
  justify-content: center;
}
.card {
  width: 30%;
  margin: 0 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #5c677d;
  box-sizing: border-box;
  overflow: auto;
}
.card ul {
  line-height: 2em;
  font-size: 1.2em;
}
.card li {
  border-bottom: 1px solid #333;
  padding: 6px 0;
}
.card h1 {
  background-color: #263859;
  color: #d1d1d1;
  margin-bottom: 0;
}
.num {
  background-color: #263859;
  color: #d1d1d1;
}
.card button {
  background-color: #263859;
  color: #ddd;
  padding: 6px;
  font-size: 0.9em;
}

/* ----- */
/* Contact */
#contact {
  padding: 200px 0;
  background-color: #6b778d;
  display: flex;
}
input[type="text"],
input[type="email"],
textarea {
  background-color: #ddd;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}
input[type="submit"] {
  background-color: #263859;
  color: #ddd;
  margin: 10px auto;
  padding: 4px;
  width: 80%;
  font-size: 1.3em;
}
textarea {
  height: 200px;
}

/* ----- */
/* Footer */
footer {
  padding: 200px 0;
  color: #d1d1d1;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social a {
  margin: 0 4px;
}

/* mobile */
@media only screen and (max-width: 600px) {
  /* Navbar */
  nav a {
    display: block;
  }

  .content {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 20%;
    font-size: 0.8em;
  }
}
